In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
data = pd.read_csv("AAPL.csv")

In [4]:
data.head()

         Date    Open     High  ...    Adj_Low  Adj_Close   Adj_Volume
0  2017-12-28  171.00  171.850  ...  41.011877  41.156217   65920748.0
1  2017-12-27  170.10  170.780  ...  40.826640  41.040745   85992852.0
2  2017-12-26  170.80  171.470  ...  40.819183  41.033528  132742144.0
3  2017-12-22  174.68  175.424  ...  41.978957  42.101646   65397776.0
4  2017-12-21  174.17  176.020  ...  41.882730  42.101646   83799584.0

[5 rows x 13 columns]

In [5]:
data.tail()

            Date    Open    High  ...    Adj_Low  Adj_Close   Adj_Volume
1085  2013-09-09  505.00  507.92  ...  15.948451  16.033661  340687200.0
1086  2013-09-06  498.44  499.38  ...  15.519869  15.781833  359525600.0
1087  2013-09-05  500.25  500.68  ...  15.636755  15.688388  236367600.0
1088  2013-09-04  499.56  502.24  ...  15.720381  15.796753  345032800.0
1089  2013-09-03  493.10  500.60  ...  15.437510  15.476472  331928800.0

[5 rows x 13 columns]

In [6]:
data.describe

<bound method NDFrame.describe of             Date    Open     High  ...    Adj_Low  Adj_Close   Adj_Volume
0     2017-12-28  171.00  171.850  ...  41.011877  41.156217   65920748.0
1     2017-12-27  170.10  170.780  ...  40.826640  41.040745   85992852.0
2     2017-12-26  170.80  171.470  ...  40.819183  41.033528  132742144.0
3     2017-12-22  174.68  175.424  ...  41.978957  42.101646   65397776.0
4     2017-12-21  174.17  176.020  ...  41.882730  42.101646   83799584.0
...          ...     ...      ...  ...        ...        ...          ...
1085  2013-09-09  505.00  507.920  ...  15.948451  16.033661  340687200.0
1086  2013-09-06  498.44  499.380  ...  15.519869  15.781833  359525600.0
1087  2013-09-05  500.25  500.680  ...  15.636755  15.688388  236367600.0
1088  2013-09-04  499.56  502.240  ...  15.720381  15.796753  345032800.0
1089  2013-09-03  493.10  500.600  ...  15.437510  15.476472  331928800.0

[1090 rows x 13 columns]>

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1090 non-null   object
 1   Open        1090 non-null   float64
 2   High        1090 non-null   float64
 3   Low         1090 non-null   float64
 4   Close       1090 non-null   float64
 5   Volume      1090 non-null   float64
 6   Dividend    1090 non-null   float64
 7   Split       1090 non-null   float64
 8   Adj_Open    1090 non-null   float64
 9   Adj_High    1090 non-null   float64
 10  Adj_Low     1090 non-null   float64
 11  Adj_Close   1090 non-null   float64
 12  Adj_Volume  1090 non-null   float64
dtypes: float64(12), object(1)
memory usage: 110.8+ KB

In [8]:
data.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Dividend      0
Split         0
Adj_Open      0
Adj_High      0
Adj_Low       0
Adj_Close     0
Adj_Volume    0
dtype: int64

In [9]:
data.shape

(1090, 13)

In [10]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividend', 'Split',
       'Adj_Open', 'Adj_High', 'Adj_Low', 'Adj_Close', 'Adj_Volume'],
      dtype='object')

In [11]:
df1 = pd.DataFrame(data)

In [12]:

df1

            Date    Open     High  ...    Adj_Low  Adj_Close   Adj_Volume
0     2017-12-28  171.00  171.850  ...  41.011877  41.156217   65920748.0
1     2017-12-27  170.10  170.780  ...  40.826640  41.040745   85992852.0
2     2017-12-26  170.80  171.470  ...  40.819183  41.033528  132742144.0
3     2017-12-22  174.68  175.424  ...  41.978957  42.101646   65397776.0
4     2017-12-21  174.17  176.020  ...  41.882730  42.101646   83799584.0
...          ...     ...      ...  ...        ...        ...          ...
1085  2013-09-09  505.00  507.920  ...  15.948451  16.033661  340687200.0
1086  2013-09-06  498.44  499.380  ...  15.519869  15.781833  359525600.0
1087  2013-09-05  500.25  500.680  ...  15.636755  15.688388  236367600.0
1088  2013-09-04  499.56  502.240  ...  15.720381  15.796753  345032800.0
1089  2013-09-03  493.10  500.600  ...  15.437510  15.476472  331928800.0

[1090 rows x 13 columns]

In [13]:
df1.drop(labels=None, axis=0, index=None, columns= ['Date','Open','High','Low','Close','Volume','Dividend','Split'], level=None, inplace=True)

In [14]:
df1['HL_PCT'] = (df1['Adj_High'] - df1['Adj_Low'])/df1['Adj_Close']*100.0

In [15]:
df1['PCT_change'] = (df1['Adj_Close'] - df1['Adj_Open'])/df1['Adj_Open']*100.0

In [16]:
df1.drop(labels=None, axis=0, index=None, columns= ['Adj_High','Adj_Low','Adj_Open'], level=None, inplace=True)

In [17]:
df1.fillna(value = -99999)

      Adj_Close   Adj_Volume    HL_PCT  PCT_change
0     41.156217   65920748.0  0.800795    0.046784
1     41.040745   85992852.0  0.627198    0.293945
2     41.033528  132742144.0  1.050009   -0.134660
3     42.101646   65397776.0  0.527970    0.188917
4     42.101646   83799584.0  1.097080    0.482287
...         ...          ...       ...         ...
1085  16.033661  340687200.0  0.877176    0.231683
1086  15.781833  359525600.0  1.892738   -0.044138
1087  15.688388  236367600.0  1.421447   -0.995502
1088  15.796753  345032800.0  1.195129   -0.173953
1089  15.476472  331928800.0  2.711941   -0.916650

[1090 rows x 4 columns]

In [18]:
import sklearn
from sklearn.model_selection import train_test_split

In [19]:
feature_cols = ['Adj_Close','Adj_Volume','HL_PCT','PCT_change']
X = df1[feature_cols]
Y = df1['PCT_change']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
linreg = LinearRegression()

In [22]:
linreg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
Y_pred = linreg.predict(X_test)

In [24]:
from sklearn import metrics

In [25]:
print(metrics.mean_squared_error(Y_test, Y_pred))

7.7159217981584245e-31